[submodule "cmake/modules"]
	path = cmake/modules
	url = ../../BoostCMake/cmake_modules.git
[submodule "libs/module"]
	path = libs/module
	url = ../../NilFoundation/module.git
[submodule "libs/transpiler"]
	path = libs/transpiler
	url = ../../NilFoundation/zkllvm-transpiler.git
