[submodule "libs/crypto3"]
	path = libs/crypto3
	url = ../../NilFoundation/crypto3.git
[submodule "cmake/modules"]
	path = cmake/modules
	url = ../../BoostCMake/cmake_modules.git
[submodule "libs/module"]
	path = libs/module
	url = ../../NilFoundation/module.git
[submodule "libs/plugin"]
	path = libs/plugin
	url = ../../NilFoundation/plugin.git
[submodule "libs/application"]
	path = libs/application
	url = ../../NilFoundation/application.git
[submodule "libs/actor/core"]
	path = libs/actor/core
	url = ../../NilFoundation/actor-core.git
[submodule "libs/actor/math"]
	path = libs/actor/math
	url = ../../NilFoundation/actor-math.git
[submodule "libs/actor/network"]
	path = libs/actor/network
	url = ../../NilFoundation/actor-network.git
[submodule "libs/actor/zk"]
	path = libs/actor/zk
	url = ../../NilFoundation/actor-zk.git
[submodule "libs/actor/blueprint"]
	path = libs/actor/blueprint
	url = ../../NilFoundation/actor-blueprint.git
[submodule "libs/actor/container"]
	path = libs/actor/container
	url = ../../NilFoundation/actor-containers.git
